

/*****	Medium-Devicess		******/

.parallax-section{
	height:524px;
}
.banner-social-icon i.fa{
	top: 330px;
}
.first-section-content p{
	font-size:16px;
}
.owl-carousel .item .second-section-female-img .female-circle-imge {
    margin-left: 75px;
}
.third-section-content p{
	padding-right: 60px;
}
.third-section{
	height:437px;
}
.third-section-content {
    margin-top: 120px;
}